# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.eslintcache

# Backend
backend/uploads/
backend/chroma_data/
backend/data/
backend/venv/
backend/.venv/
backend/env/
backend/__pycache__/
backend/**/*.pyc
backend/.pytest_cache/

# OS specific
.DS_Store
Thumbs.db
